.page-content {
  display: flex;
  height: $page-content-height;
  margin: 0 auto;
  max-width: $site-max-width;

  @include desktop {
    padding: $large-space $space;
  }
}

.page-content__sidebar {
  display: flex;
  flex-direction: column;
  width: 100vw;

  position: fixed;
  top: $header-height;
  bottom: 0;
  left: -100vw;
  right: 0;
  z-index: 1;

  transition: left .3s linear;

  @include desktop {
    padding-right: $large-space;
    width: $page-content-sitebar-width;
    position: static;
    // top:0;
    // left:0;
  }
}

.is-nav-open .page-content__sidebar {
  left:0;
}

.page-content__main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - $header-height);
  @include desktop {
    width: $page-content-main-width;
  }
}
