.page-content {
  display: flex;
  height: $page-content-height;
  margin: 0 auto;
  max-width: $site-max-width;
  padding: $large-space $space;
}
.page-content__sidebar {
  display: flex;
  flex-direction: column;
  padding-right: $large-space;
  width: $page-content-sitebar-width;
  // flex-grow: 2;
  // flex-shrink: 2;
}
.page-content__main {
  display: flex;
  flex-direction: column;
  width: $page-content-main-width;
  // flex-grow: 6;
  // flex-shrink: 6;
}
